.dashboard {
  background-color: #ffffff;
  min-height: calc(100vh - 70px);
}

.dashboard__container {
  width: 100%;
}

.dashboard__menu {
  width: 220px;
  position: fixed;
  min-height: 100vh;
  background-color: #fff;
  margin-top: 70px;
  border-right: 1px solid #ececec;
}



.dashboard__menu__list {
  margin: 40px 0 0 0;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.sidenav__item {
  display: flex;
  flex: 1 1;
  position: relative;
  text-decoration: none;
  color: #95a0b1;
  border-radius: 5px;
  font-size: 16px;
}

.sidenav__item__active {
  color: rgb(0, 100, 255);
  font-weight: 500;
  background-color: rgba(29, 144, 245, 0.07);
}

.sidenav__item:not(:first-child) {
  margin-top: 4px;
}

.sidenav__link {
  display: flex;
  align-items: center;
  padding: 13px 0 13px 23px;
  flex: 1 1;
}

.sidenav__support {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 100px;
  text-align: center;
  font-size: 13px;
  color: rgb(143, 142, 142);

  flex-direction: column;
}

.sidenav__support__btn {
  width: 160px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 9px 4px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 100, 255);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.supp__btn__content {
  display: inline-flex;
  align-items: center;
}

.supp__btn__text {
  margin-left: 7px;
  font-weight: 500;
}

.support__footer {
  margin: auto;
}

/* .sidenav__name {
} */

.sidenav__icon {
  display: inline-flex;
  margin-right: 10px;
  font-size: 18px;
}

.dashboard__main {
  display: flex;
  margin-left: 220px;
  min-height: 100vh;
}

.dashboard__main__content {
  width: 100%;
  margin-top: 70px;
}

.dashboard__main__section {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 30px;
}

.dashboard__section__wrapper {
  padding: 80px 100px;
  max-width: 1280px;
  margin: auto;
}

.section__header {
  margin-bottom: 20px;
}

.card {
  width: 100%;
  background-color: #fff;
  min-height: 200px;
  border-radius: 10px;
  border: 1px solid #ececec;
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.09); */
  /* outline: 1px solid #f8f8f8; */
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
}

.explore__uway__card {
  padding: 20px;
}

.explore__uway__links {
  display: flex;
  flex-direction: column;
}

.explore__link {
  display: inline-flex;
  align-items: center;
  border-top: 1px solid #ececec !important;
  background-color: #fff;
  border: none;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-between;
}

.explore__link:hover {
  background-color: #f8f8f8;
}

.marg-top {
  margin-top: 30px;
}

.get__started__card {
  padding: 20px;
}

.get__started__header {
  padding: 0;
}

.get__started__text {
  padding: 5px 0;
  font-size: 18px;
  color: #777777;
}

.get__started__main {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0px 0;
}

.get__started__btns {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  border-top: 1px solid #ececec;
  width: 100%;
}

.get__started__btns button:last-child {
  border-left: 1px solid #ececec;
}

.get__started__img {
  height: 200px;
  opacity: 0.8;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.ship__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  /* margin: 12.5px; */
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
}

.create {
  border-bottom-left-radius: 10px;
}

.quote {
  border-bottom-right-radius: 10px;
}

.ship__btn:hover {
  background-color: #f8f8f8;;
}

.ship__btn__inner {
  display: inline-flex;
  align-items: center;
}

.get__started__icon {
  font-size: 30px;
  display: flex;
  margin-right: 10px;
  color: rgb(0, 120, 255);
}

.create {
  background-color: #fff;
  color: #000;
}

.quote {
  background-color: #fff;
  color: #000;

  /* border: 1px solid rgb(0, 120, 255); */
}

.view__orders__card {
  padding: 20px;
  display: flex;
 
  
}

.view__orders__main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

.view__orders__main p {
  font-style: italic;
  color: rgb(107, 107, 107);
}

.view__all__link {
  color: rgb(0,120,255);
  font-weight: 500;
}

.view__all__link:hover {
  text-decoration: underline;
}
/*Ship Section */

.dashboard__ship__wrapper {
  display: flex;
  position: relative;
}

.ship__card {
  max-width: 1000px;

  position: relative;
  min-height: 200px;
  margin: auto;
}

.tbl__heading {
}

.ship__card td {
  font-size: 14px;
  max-width: 160px;
}

.ship__img {
  height: 500px;
  opacity: 0.6;
  width: 100%;
  position: absolute;
  top: 0;
}

.ship__bg {
  background-color: rgb(0, 120, 255);
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.ship__header {
  margin-top: 100px;
  margin-bottom: 30px;
  z-index: 10;
  color: #fff;
  font-size: 48px;
  text-align: left;
  font-weight: 500;
}

.ship__section {
  max-width: 1280px;
  margin: auto;
}

.ship__card__header {
  max-width: 1000px;
  margin: 5px auto;
}

/* Quote */

.quote__bg {
  height: 300px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.quote__padding {
  padding: 30px;
}

.country__input {
  max-width: 190px;
  min-width: 120px;
  margin-right: 20px;
}

.postal__input {
  width: 140px;
  margin-right: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.dimensions__input {
  width: 50px;
}

.dimensions__separator {
  align-items: center;
  color: #c4cdd5;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 27px;
}

.dimensions__label {
  font-size: 14px;
  font-weight: 400;
}

.country__input label {
  font-size: 14px;
  font-weight: 400;
}

.postal__input label {
  font-size: 14px;
  font-weight: 40;
}

.address__input {
  width: 420px;
  margin-right: 20px;
}

.address__input label {
  font-size: 14px;
  font-weight: 40;
}

.switch__input label {
  font-size: 14px;
  font-weight: 40;
}

.ship__marg {
  margin-top: 30px;
}

.ship__padding {
  padding: 30px;
}

.ship__card input {
  font-size: 14px;
}

.ship__card select {
  font-size: 14px;
}

.results__row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.results__icon {
  border-radius: 10px;
  min-height: 40px;
  margin-right: 10px;
  min-width: 50px;
  max-height: 40px;
  max-width: 50px;
}

.quote__btn__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0px 5px 0;
}

.ship__step__padding {
  padding: 30px 30px 0 0;
}
.quote__btn {
  padding: 9px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 100, 255);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.back__btn {
  padding: 9px 15px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
}

.back__btn:hover {
  background: rgba(0, 0, 0, 0.09);
}

.results__padding {
  padding: 20px 0;
}

.ship__page__heading {
  font-size: 32px;
  color: #000;
  font-weight: 500;
}

.ship__page__subhead {
  font-size: 22px;
  color: #777777;
}

.ship__page__heading span {
  color: rgb(0, 120, 255);
}

/* Payment & Checkout Form */

.payment__form {
  background: #f8f8f8;
  /* border: 1px solid #dfe3e8; */
  border-radius: 4px;
  color: #001222;
  font-size: 13px;
  height: 50px;
  margin: 0px 10px;
  padding: 16px 10px;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.payment__info {
  margin: 15px 0;
}

.checkout {
  padding: 30px;
}

.checkout h5 {
  margin: 10px 0;
}

.payment__total {
  font-weight: 600;
}

.payment__label {
  font-size: 14px;
  padding: 0px 0px 10px 10px;
  font-weight: 600;
}

/**Summary Section */

.summary__section__container {
  margin: 20px 0 0 0;

}

.summary__section {
  min-height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  
}

.summary__section h5 {
  font-size: 14px;
  font-weight: 500;
  color: #585858;
}

.summary__section h5:not(:first-child) {
  padding: 10px 0 0 0;
}

.summary__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary__data p {
  font-size: 13px;
  font-weight: 500;
}

/*Confirmation */

.confirmation__header {
  font-size: 22px;
  font-weight: 600;
}

.conf__img {
  height: 250px;
}

.no__results {
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #777777;
}

/* Account */

.account {
  max-width: 700px;
  margin: auto;
}

.account__pic {
  height: 90px;
  width: 90px;
}

.account__pic img {
  border-radius: 50%;
}

.account__user {
  font-size: 28px;
  font-weight: 500;
}

.account__category {
  font-weight: 600;
}

@media(max-width: 980px) {
  .dashboard__menu {
    display: none;
  }
  .dashboard__main {
    margin-left: 0px;
  }
  
}

@media(max-width: 1050px) {
  .dashboard__main__section {
    grid-template-columns: 1fr;
    
  }

}

@media(max-width: 768px) {
  .dashboard__section__wrapper {
    padding: 30px;
  }
  
  .dashboard__main__content {
    margin-top: 120px;
  }
}

@media(max-width: 500px) {

  .get__started__btns {
    flex-direction: column;
  }
  .get__started__img {
    height: 150px;
  }
  .section__main {
    display: flex;
    flex-direction: column;
  }

}
